<h3>Schreibe einen Kommentar</h3>
  <%= form_for([@article, @article.comments.build]) do |f| %>
<!--    <div class="form-group">
      <%= f.label :body, "Rating" %>
      <div class="rating required">
</div>
    </div>-->
    <div class="form-group">
      <%= f.label :body, "Kommentar" %>
      <%= f.text_area :body, class: "form-control comment-control", :required => true%>
    </div>
    <div class="form-group">
      <%= f.label :body, "Name" %>
      <%= f.text_field :body, class: "form-control comment-control", :required => true%>
    </div>
    <div class="form-group">
      <%= f.label :body, "E-Mail" %>
      <%= f.text_field :body, class: "form-control comment-control", :required => true%>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "button btn-primary" %>
    </div>
  <% end %>
