<!--
<div class="stage">
  <ul>
    <li>
      <a href="/" id="all" class="active">Alle Regionen</a>
    </li>
    <li>
      <a href="#" id="afrika">Afrika</a>
    </li>
    <li>
      <a href="#" id="asien">Asien</a>
    </li>
    <li>
      <a href="#" id="europa">Europa</a>
    </li>
    <li>
      <a href="#" id="nordamerika">Nordamerika</a>
    </li>
    <li>
      <a href="#" id="suedamerika">Südamerika</a>
    </li>
  </ul>
</div>-->

<div class="container">
  <div class="article_list">
  <% @articles.each do |article| %>
    <div class="article_teaser">
      <%= image_tag(article.image_url, class: "img-responsive") %>
      <p class="date"><%= l article.releasedate, format: :default %></p>
      <h2><%= article.title %></h2>
      <%= link_to 'Lesen', article %>
      <!--<%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>-->
    </div>
  <% end %>
  </div>
  <div class="pagination_container">
  <%= will_paginate @articles %>
  </div>
</div>

<!--<%= link_to 'New Article', new_article_path %>-->
